body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 10px solid #000;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}