body{
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.cabecera
{
    background: rgb(115, 183, 201);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

.cabecera .tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

.container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 10px solid #000;
    margin: 0 auto;
}

.container h1{
    font-size: 20px;
}

.footer{
    text-align: center;		
    font-weight: bold;
    background: rgb(68, 75, 72);
    color: rgb(255, 255, 255);
    padding: 0.5em;
 }

